/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-live-3d-terrain-aag-live-3d-terrain-aag {
	position: relative;
	width: 100%;
	min-height: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;

	.live-3d-terrain-aag__title {
		text-align: center;
		color: #fff;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		z-index: 10;
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		display:none
	}

	.live-3d-terrain-aag__canvas-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		// The canvas element itself should fill the container.
		.live-3d-terrain-aag__canvas {
			width: 100%;
			height: 100%;
			display: block; // Avoids any extra spacing.
		}
	}
}
